body {
    background-image: url("https://www.worldmapsonline.com/images/murals/satellite_image/detailed_world_satellite_image_mural_cen_150_lg.jpg");
    background-size: cover;
    background-attachment: scroll;
}
